<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="DrawIt.DrawIt" android:versionCode="1" android:versionName="16.07.13">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="23" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="DrawIt"></application>
</manifest>